{template "header.html"}

	<section class="column main">

		<div class="column-main">
			<div class="inner">
                <!--头条-->
                <div class="topline">
                    <!--调用type=2的头条数据-->
                    {list action=navigator type=2}
                    {if $key==0}
                        <h1 class="h1"><a href="{$t.url}" {if $t.target}target="_blank"{/if} class="title">{$t.title}</a></h1>
                    {else}
                        {if $key==1}<p class="links">{/if}
                        <a href="{$t.url}" {if $t.target}target="_blank"{/if}>[{$t.title}]</a>
                        {if $key==$count-1}</p>{/if}
                    {/if}
                    {/list}
                </div>
                <!--调用新闻模块的“首页中间”属性的最新15条-->
                <div class="main-list">
                    <ul class="list list-point">
                        {list action=module flag=1 module=news order=updatetime num=15}
                        <li class="item {if $key && $key%5==0}hr{/if}"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a></li>
                        {/list}
                    </ul>
                </div>
                <div class="side-list">
                    <div class="mod-head">
                        <h3 class="h3 ico">专题</h3><a href="{SITE_URL}special/" class="more">更多<span>&gt;&gt;</span></a>
                    </div>
                    <div class="bd">
                        <ul class="list list-point">
                            <!--调用专题最新5条-->
                            {list action=module module=special order=updatetime num=5}
                            <li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a></li>
                            {/list}
                        </ul>
                        <a href="/"><img src="{HOME_THEME_PATH}images/ad-photo.png" width="211" height="105" ></a>
                        <div class="dotted"></div>
                            <ul class="list list-point">
                                <!--调用专题最新5条,从第5条后开始-->
                                {list action=module module=special order=updatetime num=5,5}
                                <li class="item"><a href="{$t.url}" class="title">{$t.title}</a></li>
                                {/list}
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<aside class="column-aside">
			<!-- 幻灯片 -->
			<div class="index-slide">
                <ul class="slide-tab" id="indexSlideTab">
                	{list action=navigator type=1}
                    <li><a rel="tab" href="{$t.url}" title="{$t.title}">{$key+1}</a></li>
                    {/list}
                </ul>
    			<div class="slide-cont" id="indexSlideCont">
                	{list action=navigator type=1}
                	<div title="tab">
            			<div class="shadow"></div>
            			<div class="title"><a href="{$t.url}" title="{$t.title}">{$t.title}</a></div>
            			<a href="{$t.url}" title="{$t.title}"><img src="{dr_thumb($t.thumb, 310, 230)}" width="310" height="230"></a>
        			</div>
                    {/list}
            	</div>
			</div>
			<!-- 官方推荐 -->
			<div class="OmWeb-area">
				<div class="inner">
					<div class="title-head">
						<em class="ico"></em>
						<div class="title"><a href="http://www.omooo.com/" class="words">官方推荐</a></div>
					</div>
					<div class="h-pic clear">
    					<a href="http://www.omooo.com"><img src="http://www.omooo.com/assets/80.png" class="thumb" width="58" height="58" /></a>
    					<div class="texts">
        					<p class="title2"><a href="http://www.omooo.com" class="title">天睿云计算-互联网行业解决方案</a></p>
        					<p class="summary">提供从内容发布、组织、传播、互动和数据挖掘的网站一体化解决方案。
                            <a href="http://www.omooo.com" class="more">[详细]</a></p>
    					</div>
					</div>
					<div class="dotted"></div>
                    <ul class="list list-point">
                        <li class="item"><em class="ico"></em><a href="www.omooo.com/help/list-341.html" class="title">OmWeb高级版专属功能操作教程</a> </li>
                        <li class="item"><em class="ico"></em><a href="www.omooo.com/help/list-341.html" class="title">OmWeb常见的模板标签调用介绍和相关实例</a> </li>
                        <li class="item"><em class="ico"></em><a href="www.omooo.com/help/list-341.html" class="title">OmWeb常见的模板标签调用介绍和相关实例</a> </li>
                    </ul>
					<div class="dotted"></div>
					<ul class="list other-links">
						<li class="item"><em class="ico n1">1</em><a href="http://www.omooo.com/shipin/" class="title">后台使用视频教程</a></li>
						<li class="item"><em class="ico n1">2</em><a href="http://www.omooo.com/shipin/" class="title">模块使用视频教程</a></li>
						<li class="item"><em class="ico">3</em><a href="www.omooo.com/help/list-341.html" class="title">模版制作手册</a></li>
						<li class="item"><em class="ico">4</em><a href="www.omooo.com/help/list-341.html" class="title">二次开发技术手册</a></li>
					</ul>
				</div>
			</div>
		</aside>
	</section>

	<!-- 横版广告 -->
	<section class="column ad960">
		<a href="{SITE_URL}"><img src="/omooo/statics/default/news/images/ad.jpg"></a>
	</section>

	<!-- 新闻模块 -->
	<section class="column news">
		<div class="common-head">
			<div class="inner">
				<h2 class="h2"><a href="{SITE_URL}news/">新闻模块</a></h2>
				<ul class="links">
               		<!-- 调用新闻模块的顶级栏目 -->
                	{list action=category module=news pid=0}
					<li class="item"><a href="{$t.url}">{$t.name}</a></li>
					{/list}
				</ul>
			</div>
		</div>
		<div class="ov mar-t-10">
			<div class="col-l-main">

				<div class="pic-summary-box">
                    <div class="h-pic">
                    	<!-- 调用新闻模块的“今日视点”属性的第一条 -->
                    	{list action=module flag=3 module=news order=updatetime num=1}
                        <a href="{$t.url}" ><img src="{dr_thumb($t.thumb, 120, 90)}" class="thumb" width="120" height="90" /></a>
                        <div class="texts">
                            <p class="title2"><a href="{$t.url}" class="title">{dr_strcut($t.title,30)}</a></p>
                            <p class="summary">{dr_strcut($t.description,40)}</p>
                        </div>
                        {/list}
                    </div>

                    <ul class="list list-point news-list">
                    	<!-- 调用新闻模块的“今日视点”属性的第1条以后的4条数据 -->
                    	{list action=module flag=3 module=news order=updatetime num=1,4}
                        <li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                        {/list}
                    </ul>

					<div class="border">
						<ul class="list list-point">
                         	<!-- 调用新闻模块的“阅读推荐”属性的6条数据 -->
                            {list action=module flag=4 module=news order=updatetime num=6}
							<li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                       		{/list}
						</ul>
					</div>
				</div>

				<!-- 中间栏 -->
                <div class="txt-list">
                	<ul class="list list-point">
                		<!-- 调用新闻模块最新的数据 -->
                        {list action=module module=news order=updatetime num=12}
                        <li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                        {/list}
                	</ul>
                </div>
			</div>
			<!-- 右边栏 -->
			<aside class="pic-list-box">
				<div class="border">
					<div class="ov">
                    	<!-- 调用新闻模块“幻灯图片”属性的数据 -->
                    	{list action=module flag=2 module=news order=updatetime num=6}
						<div class="v-pic">
							<div class="thumb">
								<a href="{$t.url}" ><img src="{dr_thumb($t.thumb, 120, 75)}" width="120" height="75"></a>
							</div>
							<div class="title"><a href="{$t.url}">{$t.title}</a></div>
						</div>
                        {/list}
					</div>
				</div>
			</aside>
		</div>
	</section>

	<!-- 广告 -->
	<div class="column ad960"><a href="{SITE_URL}"><img src="/omooo/statics/default/news/images/ad.jpg"></a></div>
    <!-- @end 广告 -->

	<!-- 图片模块 -->
	<section class="recreation column">
		<div class="common-head">
			<div class="inner">
				<h2 class="h2"><a href="/photo/">图片模块</a></h2>
				<ul class="links">
               		<!-- 调用图片模块的顶级栏目 -->
                	{list action=category module=photo pid=0}
					<li class="item"><a href="{$t.url}">{$t.name}</a></li>
					{/list}
				</ul>
			</div>
		</div>
		<div class="m-main ov">
			<!-- 点击切换图片 -->
			<div class="slider-box">
				<ul class="slide-tab" id="slidePointTab">
                	<!-- 调用“幻灯图片”属性的数据 -->
                    {list action=module flag=1 module=photo order=updatetime num=6}
					<li><a rel="tab" href="{$t.url}" title="{$t.title}"></a></li>
                    {/list}
                </ul>
				<div class="slide-cont" id="slidePointCont">
                	<!-- 调用“幻灯图片”属性的数据 -->
                    {list action=module flag=1 module=photo order=updatetime num=6}
					<div title="tab">
						<div class="shadow"></div>
						<div class="title"><a href="{$t.url}" title="{$t.title}">{$t.title}</a></div>
						<a href="{$t.url}" title="{$t.title}"><img src="{dr_thumb($t.thumb,280,360)}"></a>
					</div>
                    {/list}
                </div>
			</div>
            <!-- @end 点击切换图片 -->

			<!-- 中间栏文字列表 -->
			<div class="recreation-list">
                <ul class="list list-point">
                    <!-- 调用模块最新的数据 -->
                    {list action=module module=photo order=updatetime num=15}
                    <li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                    {/list}
                </ul>
			</div><!-- @end 中间栏文字列表 -->

			<!-- 右边栏 -->
			<div class="right-box">
				<div class="border">
					<div class="ov">
                    	{list action=module module=photo order=hits num=8}
						<div class="v-pic">
							<div class="thumb">
								<a href="{$t.url}" ><img src="{dr_thumb($t.thumb, 120, 75)}" width="120" height="75"></a>
							</div>
							<div class="title"><a href="{$t.url}">{$t.title}</a></div>
						</div>
                        {/list}
					</div>
				</div>
			</div>
		</div>
	</section>

    <!-- 广告 -->
	<div class="column ad960"><a href="{SITE_URL}"><img src="/omooo/statics/default/news/images/ad.jpg"></a></div>
    <!-- @end 广告 -->

    <!-- 租房模块 -->
	<section class="column news">
		<div class="common-head">
			<div class="inner">
				<h2 class="h2"><a href="{SITE_URL}fang/">租房模块</a></h2>
				<ul class="links">
               		<!-- 调用模块的顶级栏目 -->
                	{list action=category module=fang pid=0}
					<li class="item"><a href="{$t.url}">{$t.name}</a></li>
					{/list}
				</ul>
			</div>
		</div>
		<div class="ov mar-t-10">
			<div class="col-l-main">

				<div class="pic-summary-box">
                    <div class="h-pic">
                    	<!-- 调用模块的最新第一条 -->
                    	{list action=module module=fang order=updatetime num=1}
                        <a href="{$t.url}" ><img src="{dr_thumb($t.thumb, 120, 90)}" class="thumb" width="120" height="90" /></a>
                        <div class="texts">
                            <p class="title2"><a href="{$t.url}" class="title">{dr_strcut($t.title,30)}</a></p>
                            <p class="summary">{dr_strcut($t.description,40)}</p>
                        </div>
                        {/list}
                    </div>

                    <ul class="list list-point news-list">
                    	<!-- 调用模块的最新第1条以后的4条数据 -->
                    	{list action=module module=fang order=updatetime num=1,4}
                        <li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                        {/list}
                    </ul>

					<div class="border">
						<ul class="list list-point">
                            {list action=module module=fang order=updatetime num=6}
							<li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                       		{/list}
						</ul>
					</div>
				</div>

				<!-- 中间栏 -->
                <div class="txt-list">
                	<ul class="list list-point">
                		<!-- 调用模块最新的数据 -->
                        {list action=module module=fang order=updatetime num=12}
                        <li class="item"><em class="ico"></em><a href="{$t.url}" class="title">{$t.title}</a> </li>
                        {/list}
                	</ul>
                </div>
			</div>
			<!-- 右边栏 -->
			<aside class="pic-list-box">
				<div class="border">
					<div class="ov">
                    	{list action=module module=fang order=hits num=6}
						<div class="v-pic">
							<div class="thumb">
								<a href="{$t.url}" ><img src="{dr_thumb($t.thumb, 120, 75)}" width="120" height="75"></a>
							</div>
							<div class="title"><a href="{$t.url}">{$t.title}</a></div>
						</div>
                        {/list}
					</div>
				</div>
			</aside>
		</div>
	</section>

    <script type="text/javascript">
        window.onload = function(){
            /图片频道下的幻灯片*/
            TAB({
                menu: 'slidePointTab',
                content: 'slidePointCont',
                active_tab: 0,
                active_css: 'tabactive',
                auto: true,
                duration: 4
            });
        }
    </script>
{template "footer.html"}